$font-size : 20px;
$blue : #63CBFF;

body {
    background-color: #fff;
    min-height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.dropdown-item {
    color : #000 !important;
}
